body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 60px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}

.cell {
    border: 2px solid black;
    font-size: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell.valid:hover {
    background-color: lightgreen;
    cursor: pointer;
}

.cell.hover {
    background-color: red;
}

.score {
    font-size: 80px;
}