body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}

.cell {
    border: 2px solid black;
    cursor: pointer;
}

.cell.valid:hover {
    background-color: lightgreen;
}

.score {
    font-size: 80px;
}